@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button { cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.grey { color: #666; }
.cap { text-transform: capitalize; }
.up { text-transform: uppercase; }
.center { text-align: center; }
.bold { font-weight: bold; }
.transition { transition: 1s all ease; }

/*for wrapper*/
.wrapper {
  max-width: 1286px;
  width: 57.93%; 
  margin: 0 auto;
}

/*=================================
  Header styling starts here
=================================*/
header .wrapper {
  width: 97.97%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 a { text-indent: -9999px; }
h1 img { float: right; }

.hamburger {
  width: 40px;
  height: 40px;
  display: none;
  position: relative;
  top: 0;
  left: 0;
  background-color: #1E7490;
  cursor: pointer;
  z-index: 10;
}

.hamburger span {
  position: absolute;
  top: 50%;
  left: 10%;
  right: 10%;
  height: 2px;
  background-color: white;
  transition: all 0.5s ease;
}

.hamburger span:nth-child(1) {top:30%;}
.hamburger span:nth-child(3) {top:70%;}
.hamburger:hover span:nth-child(2) {opacity:0;}
.hamburger:hover span:nth-child(1) {transform: rotate(45deg) translate(5px,5px);}
.hamburger:hover span:nth-child(3) {transform: rotate(-45deg) translate(7px,-7px);}

/*nav menu starts here*/
.menu {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  width: 100%;
}

.menu > li { position: relative; }

.menu a {
  padding: 21px 14px;
  color: #BBB;
  font-size: 9px;
  letter-spacing: 1.1px;
}

.menu > li:nth-child(2) > a:after,
li:nth-child(3) > a:after {
  margin-left: 5px;
  content: '\f0d7';
  font-family: 'Font Awesome 5 Free';
  display: inline-block;
  font-weight: 600;
  vertical-align: top;
}


/*dropdown menu starts here*/
.dropdown-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  width: 100%;
  z-index: 11;
}

.dropdown-menu li{ background-color: #555; }
.dropdown-menu a{ color: #FFF; }
.drop:hover .dropdown-menu { display: flex; }

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/*banner starts here*/
.banner .wrapper {
  width: 100%;
  position: relative;
}

.banner-info {
  position: absolute;
  top: 16%;
  left: 36%;
  transform: translate(-60%,40%);
}

.banner-info > span:nth-child(1) {
  color: #FFF;
  font-size: 36px;
  font-family: 'Oswald', sans-serif;
  font-weight: 900;
  letter-spacing:2px; 
}

.banner-info h2 {
  margin-bottom: 10px;
  color: #FFF;
  font-size: 36px;
  font-family: 'Oswald', sans-serif;
  font-weight: 100;
  letter-spacing:1.7px; 
}

.dreamer {
  color: #FCBA01;
  font-weight: 900;
  letter-spacing:2px; 
}

.banner-info > span:nth-child(3) {
  display: block;
  color: #FFF;
  font-size: 15px;
  font-family: 'Oswald', sans-serif;
  letter-spacing:1.5px; 
}

.banner-info > a {
  padding: 8px 24px;
  margin-top: 25px;
  display: inline-block;
  background-color: #FFBC00;
  color: #FFF;
  text-transform: uppercase;
  font-size: 9px;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  letter-spacing:2px; 
}


/*banner ends here*/
/*specialize starts here*/
.speciality {
  margin-top: 65px;
}

.speciality li {
  margin-right: 10px;
}


.speciality h3 {
  color: #222;
  font-size: 19px;
}

.speciality .wrapper > span {
  margin: 6px auto;
  display: block;
  border: 0.7px solid;
  width: 32px;
  height: 0px;
}

.speciality .wrapper > p {
  color: #444;
  font-size: 14px;
  margin-bottom: 20px;
}

.speciality .wrapper > p:first-letter {
  text-transform: capitalize;
}

.speciality-types {
  display: flex;
  justify-content: center;
}

.speciality-types span {
  display: inline-block;
  text-indent: -9999px;
}

.speciality-types span::after {
  margin-bottom: 10px;
  display: block;
  content: '\f044';
  font-size: 18px;
  font-family: 'Font Awesome 5 Free';
  font-weight: 100;
  vertical-align: top;
  text-indent: 0;
}

.speciality-types li:nth-child(2) span::after{ content: '\f2bb'; }
.speciality-types li:nth-child(3) span::after{ content: '\f302'; }
.speciality-types li:nth-child(4) span::after{ content: '\f164'; }

.speciality-types h5 {
  margin-bottom: 5px;
  color: #222;
  font-size: 15px;
  text-transform: uppercase;
}

.speciality-types p{
  color: #222;
  font-size: 10px;
  line-height: 15px;
}
/*specialize ends here*/
/*success starts here*/
.success { margin: 96px 0 106px; }
.success .wrapper { width: 100%; }

.success-info {
  display: flex;
  justify-content: space-around;
}

.success-info li {
  flex-basis: 25%;
  padding: 40px 0 60px;
  /*border: 1px solid;*/
}

.success-info li:nth-child(1),
.success-info li:nth-child(3) { background-color: #CCC; }

.success-info li:nth-child(2),
.success-info li:nth-child(4) { background-color: #EFEFEF; }

.icons {
  text-indent: -9999px;
  display: inline-block;
}
.icons::after {
  margin-bottom: 10px;
  display: block;
  content: '\f2bd';
  font-size: 30px;
  font-family: 'Font Awesome 5 Free';
  font-weight: 600;
  vertical-align: top;
  text-indent: 0;
}

.success-info li:nth-child(2) .icons::after { content: '\f135'; }
.success-info li:nth-child(3) .icons::after { content: '\f017'; }
.success-info li:nth-child(4) .icons::after { content: '\f0d0'; }

.success-info h5 {
  margin-bottom: 10px;
  font-size: 14px;
  text-transform: capitalize;
}

.success-info li span:nth-of-type(2) {
  font-size: 21px;
  font-weight: 900;
}
/*success ends here*/

/*about me section starts here*/
.about-me .wrapper { 
  width: 100%;
  display: flex;
  justify-content: center;
}

.about-me-info { 
  box-sizing: border-box;
  padding: 30px;
  padding-top: 80px;
  flex-basis: 50%;
  background-color: #EFEFEF;
}

.about-me-info h3 {
  margin-bottom: 8px;
  color: #111;
  font-size: 20px;
}

.about-me-info span {
  margin-bottom: 11px;
  display: inline-block;
  color: #111;
  font-size: 16px;
}

.about-me-info p,.detail-list,.detail-list li span {
  margin-bottom: 11px;
  line-height: 15px;
  color: #555;
  font-size: 10px;
}

.about-me-info li {display: block;}

.detail-list li,.detail-list li span {
  color: #333;
  line-height: 20px;
}

.detail-list li::before {
  margin: 0 5px;
  display: inline-block;
  content: '\f00c';
  color: #FFDE76;
  font-size: 8px;
  font-family: 'Font Awesome 5 Free';
  font-weight: 600;
  vertical-align: top;
}


.social a:before {
  margin-right: 6px;
  color: #333;
  font-size: 12px;
  font-family: 'Font Awesome 5 Brands';
  font-weight: 900;
  vertical-align: middle; 
}

.social {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.social li a {
  display: inline-block;
  color: #FFF;
  text-indent: -9999px;
}

.social a::before {
  width: 13px;
  height: 13px;
  padding: 8px;
  border-radius: 15px;
  display: block;
  background-color: #444;
  color: #FFF;
  font-size: 10px;
  font-family: 'Font Awesome 5 Brands';
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  float: right;
  text-indent: 0;
  transition: all 0.5s ease;
}


.social li:nth-child(1) a::before { content: "\f39e"; }
.social li:nth-child(2) a::before { content: "\f099"; }
.social li:nth-child(3) a::before { content: "\f0e1"; }
.social li:nth-child(4) a::before { content: "\f167"; }

.social li:nth-child(5) a::before { 
  content: "\f1eb";
  font-family: 'Font Awesome 5 Free'; 
}
/*about me section ends here*/

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer { background-color: #222; }

footer .wrapper {
  width: 68.69%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}

.footer-info {
  font-size: 10px;
  color: #AAA;
}

.footer-info span:nth-child(2),
.footer-info a span { text-transform: lowercase; }
.footer-info a { color: #EBC132; }
 
.footer-social {
  display: flex;
  justify-content: flex-start;
  margin-right: 40px;
}

.footer-social li a {
  color: #FFF;
}

.footer-social a::before {
  width: 12px;
  height: 12px;
  padding: 7px;
  border: 1px solid;
  background-color: #222;
  transition: all 0.5s ease;
}

.footer-social li:nth-child(1) a::before { content: "\f099"; }
.footer-social li:nth-child(2) a::before { content: "\f39e"; }
.footer-social li:nth-child(3) a::before { content: "\f0d5"; }
.footer-social li:nth-child(4) a::before { content: "\f16d"; }

 /*=================================
  footer styling ends here
=================================*/ 

/*=====================================
  media query 995px styling starts here
======================================*/
/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
  .wrapper { width: 80%; }

  .banner-info {
    top: 10%;
    left: 35%;
    transform: translate(-60%,40%);
  }

  .banner-info > span:nth-child(1) { font-size: 30px; }
  .banner-info h2 { font-size: 30px; }
  .banner-info > span:nth-child(3) { font-size: 12px; }

  .about-me .wrapper {
    width: 80%;
    flex-direction: column;
  }
  .success { margin-bottom: 30px; }
  .about-me { margin-bottom: 30px; }
  .about-me-info { padding : 30px; }
  .about-me-info > span { display: block; }
  .about-me-info h3,.about-me-info span { text-align: center; }
  .social {justify-content: center;}
} 

/*====================================
  media query 995px styling ends here
=====================================*/

/*=====================================
  media query 768px styling starts here
======================================*/

@media only screen and (max-width: 768px) {
  .wrapper { width: 80%; }

  .banner-info {
    width: 70%;
    top: 50%;
    left: 55%;
    transform: translate(-50%,-50%);
  }

  .banner-info > span:nth-child(1) { font-size: 25px; }
  .banner-info h2 { font-size: 25px; }
  .banner-info > span:nth-child(3) { font-size: 12px; }

  .speciality-types {
    flex-direction: column;
    text-align: center;
  }

  footer .wrapper { flex-direction: column; }
  .footer-info { margin-bottom: 20px; } 
}  

/*====================================
  media query 768px styling ends here
=====================================*/

/*=====================================
  media query 540px styling starts here
======================================*/
@media only screen and (min-width: 540px) {

  .banner-info > a:hover {
    background-color: #FFF;
    color: #FFBC00;
  }

  .menu > li:hover > a { color: #000; }
  .dropdown-menu li:hover a { color: #000; }

  .social a:hover::before {
    background-color: #FFF;
    color: #444;
    transition: all 0.5s ease;
  }

  .footer-info:hover a { text-decoration: underline; }
  
  .footer-social a:hover::before {
    background-color: #FFF;
    color: #444;
    transition: all 0.5s ease;
  }
}
@media only screen and (min-width: 375px) and (max-width: 540px) {

  .wrapper { width: 80%; }

  .hamburger { 
    right: 10px;
    display: block; 
  }

  .menu {
    display: none;
    flex-direction: column;  
    position: absolute;
    left:54%;
    width: 45%;
    z-index: 11;
  }

  .menu li { background-color: #555; }
  
  .menu li a {
    color: #FFF;
    padding:10px; 
  }

  .success-info { flex-direction: column; }
  .drop:hover .dropdown-menu { position: static; }
  nav:hover .menu { display: flex; }
  .banner-info { top: 45%; }
  .banner-info > span:nth-child(1) { font-size: 20px; }
  .banner-info h2,.banner-info span { font-size: 20px; }
}
/*====================================
  media query 540px styling ends here
=====================================*/